<ul class="show_requests">
  <% @received.each do |request| %>

  <li class="requests">

    <h4 class="requester_info"> <%= link_to request.user.name, user_path(request.user) %> wants to be your friend.</h4>
      <div class="btns">
        <%= link_to 'Accept', friend_request_path(request.id), method: :patch, class: 'add_button' %>
        <%= link_to 'Decline', friend_request_path(request.id), method: :delete, class: 'decline_button' %>
      </div>
  </li>
  <% end %>
</ul>