<h1>SmorgasBoard</h1>
<h2 class="index-h2">A Heapin' Helpin of board gamin' goodness</h2>

<div class="wrapper">
  <ul>
    <li>
      <% @games.each do |game| %>
        <div class="box game-info">
          <center><%= image_tag(game.image_url, size: "320x240") %></center><br>
          <center><%= link_to(game.name, game_path(game))%></center><br>
          <center><p><%= raw truncate(game.description, length:140) %></p></center> 
        </div>
    </li>
      <% end %>

  </ul>
</div>



