nav {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  height: 50px;
  border: 1px solid red;
}

nav a {
  float: right;
  padding-right: 20px;
}

.js--login {
  color: green;
  float: right;
  padding-right: 20px;
}
